@tailwind base;
@tailwind components;
@tailwind utilities;


/* :root {
    pale-orange : #fdf2de
orange-m : #fbbd36
dark-blue : #4b4a5a
very-dark-blue : #192535
dark-green : #4f7061
very-dark-red: #656464
} */